@using MLM.Models;
@model Cor
<div class="row">
    <div class="col-md-12">
        <h3>Cor</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Salvar","Cor")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-8">
                    @Html.LabelFor(m => m.Nome, "Nome:", new { @class = "control_label" })
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>       
                </div> 
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-default">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

