@using MLM.Models
<div class="row">
    <div class="col-md-12">
        <br />
        <a href="@Url.Action("Cadastro")" class="btn btn-primary">Nova Cor</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <br />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (Cor item in Model)
                    {
                        <tr>
                            <td>@item.Nome</td>
                        
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
